{% extends "registration/base.html" %}
{% load i18n %}
{% block title %}{% trans "Register for an account" %}{% endblock %}
{% block content %}
<table class="container bmde-form" align="center">
    <form method='post' action=''>{% csrf_token %}
        {{ form }}
        <tr>
            <th></th>
            <td><input type="submit" class="button" value="{% trans "Send activation email" %}" /></td>
        </tr>
    </form>
</table>
{% endblock %}
