<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Belgique mode d'emploi</title>
        <link rel="stylesheet" href="/static/lib/Snap.js/snap.css">
        <link rel="stylesheet" href="/static/lib/foundation/css/normalize.css">
        <link rel="stylesheet" href="/static/lib/foundation/foundation.css">
        <link rel="stylesheet" href="/static/lib/qtip2/jquery.qtip.min.css">
        <link rel="stylesheet" href="/static/lib/leaflet/leaflet.css" />
        <link rel="stylesheet" href="/static/lib/leaflet.markercluster/MarkerCluster.css" />
	    <link rel="stylesheet" href="/static/lib/leaflet.markercluster/MarkerCluster.Default.css" />
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Special+Elite" />
        <link rel="stylesheet" href="/static/lib/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/lib/foundation/js/vendor/modernizr.js"></script>
    </head>
    <body>

        <div class="snap-drawers">
            <div id="snapsDrawer" class="snap-drawer snap-drawer-left small-10 medium-4 large-3">
                <div>
                    <a id=menuDrawerTop href="#">
                    <div class="top-drawer">
                    <div>Catégories</div>
                    </div>
                    </a>
                    <ul class="accordion no-margin" data-accordion>
                        {% for category in categories %}
                        <li class="accordion-navigation">
                            <a href="#panel{{category.id}}" style="background-color: #{{category.color}}">{{category.name}}</a>
                            <div id="panel{{category.id}}" class="content no-padding">
                                <div id="subcatvav">
                                    {% for subcategory in category.subcategory_set.all %}
                                    <div id="subcat-{{subcategory.id}}" class="subcat" data-id="{{subcategory.id}}" data-color="{{category.color}}" show="">
                                        {{subcategory.name}}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <a href="{% url 'markers-edit-site:maps_marker_add' %}" target="_blank" class="blue no-margin button expand secondary">
                        <i class="fa fa-plus"> </i>
                        Suggérer un point
                    </a>
                    <a href="{% url 'csv_import' %}" target="_blank" class="blue no-margin button expand secondary">
                        <i class="fa fa-upload"> </i>
                        Ajouter un nouveau jeu de données
                    </a>
                    <a href="{% url 'add_new_frame' %}" target="_blank" class="blue no-margin button expand secondary">
                        <i class="fa fa-map"> </i>
                        Créer une carte personnalisée
                    </a>
                    <a class="blue no-margin button expand secondary" href="/">
                        <i class="fa fa-refresh"> </i>
                        Réinitialiser
                    </a>
                </div>
                <div class="footer">
                    "Belgique mode d'emploi" est proposé par <a href="http://dewey.be/">Dewey</a><br>
                    <small>
                        Les données affichées sur ce site sont sous <a href="http://opendatacommons.org/licenses/odbl/summary/">license ODbl</a>.<br>
                        Nous proposons aussi une <a href="/api">API</a>
                    </small>
                </div>
            </div>
        </div>
        </div>
        <div id="content" class="snap-content">
            <nav class="top-bar" data-topbar role="navigation">
                <section class="top-bar-section">
                    <ul class="title-area">
                        <li class="menu-icon "><a id="menuButton" href="#"><i class="fa fa-bars"></i></a></li>
                        <li class="name">
                            <h1>
                                <a href="http://www.dewey.be/explications">
                                    Belgique mode d’emploi
                                    <i class='fa fa-map-o'></i>
                                </a>
                            </h1>
                        </li>
                    </ul>

                    <ul class="right">
                        <li>
                            <a href="{% url 'markers-edit-site:maps_marker_changelist' %}"><i class="fa fa-edit" aria-hidden="true"></i>
 Participer</a>
                        </li>
                    </ul>
                </section>
            </nav>
            <div class="columns maprow"  id="map">
            </div>

            <div id="addPointModal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
                <h2 id="modalTitle">Ajoutez un point sur la carte.</h2>
                <form id="addpoint">
                    <div class="row">
                        <div class="large-12 columns">
                            <label>Nom
                                <input type="text" placeholder="Nom" name="name"/>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">
                            <label>Site Web
                                <input type="text" placeholder="http://" name="web" />
                            </label>
                        </div>
                        <div class="large-6 columns">
                            <label>Téléphone
                                <input type="text" placeholder="Téléphone" name="phone"/>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label>Adresse
                                <input type="text" placeholder="Adresse" name="adress" />
                            </label>
                        </div>
                    </div>
                    <div class="large-3 columns">
                        <label>Latitude
                            <input type="text" value="" disabled name="lat" />
                        </label>
                    </div>
                    <div class="large-3 columns">
                        <label>Longitude
                            <input type="text" value="" disabled name="lon" />
                        </label>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">
                            <label>Catégorie
                                <select name="category">
                                    {% for category in categories %}
                                    <option value="{{category.id}}">{{category.name}}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">
                            <label>Description
                                <textarea rows="4" name="description" placeholder="Décrivez brièvement le point... (Facultatif)"></textarea>
                            </label>
                        </div>
                        <div class="large-6 columns">
                            <label>Sous-catégories</label>
                            <div id="subcatcheck">
                                {% for subcategory in subcategories %}
                                <div class="item">
                                    <input
                                     id="checkbox{{ subcategory.id }}"
                                     type="checkbox"
                                     data-cat="{{ subcategory.category_id }}"
                                     value="{{ subcategory.id }}"
                                     name="subcategory[]"
                                     >
                                     <label for="checkbox{{ subcategory.id }}" data-cat="{{ subcategory.category_id }}">
                                         {{ subcategory.name }}
                                     </label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns"><br>
                            <em class="grey">Les modifications n'apparaîtront pas immédiatement</em>
                        </div>
                        <div class="large-6 columns text-right">
                            <input class="button success" type="submit" value="Suggérer votre point">
                        </div>
                    </div>
                </form>
                <a class="close-reveal-modal" aria-label="Close">&#215;</a>
            </div>
        </div>

        <script data-main="static/main" src="static/lib/requirejs/require.js"></script>

        <script id="popup-template" type="x-tmpl-mustache">
            <h5>[[ marker.name ]]</h5>

            <em>Adresse</em> : [[ marker.address ]]<br><br>

            [[# marker.phone ]]
                <em>Téléphone</em> : [[ marker.phone ]]<br><br>
            [[/ marker.phone ]]

            [[# marker.email_before_at ]]
                <em>Email</em> : [[ marker.email_before_at ]]@[[ marker.email_after_at ]]<br><br>
            [[/ marker.email_before_at ]]

            [[# marker.manager_type ]]
                <em>Gestionnaire</em> : [[ marker.manager_type.name ]]<br><br>
            [[/ marker.manager_type ]]

            [[# marker.web ]]
                <b><a target="_blank" href="[[ marker.web ]]">Site web</a></b><br><br>
            [[/ marker.web ]]

            [[# marker.comment ]]
                [[ marker.comment ]]<br><br>
            [[/ marker.comment ]]

            [[# marker.last_modified_dmY ]]
                <em>Dernière modification</em> : [[ marker.last_modified_dmY ]]<br><br>
            [[/ marker.last_modified_dmY ]]

		<a href="{% url 'markers-edit-site:maps_marker_changelist' %}[[ marker.id ]]/change" target="_blank">Mettre à jour les données</a>

		<div id='discourse-comments'></div>

		<script type="text/javascript">
		  DiscourseEmbed = { discourseUrl: 'http://ps.zoethical.com/',
		  discourseEmbedUrl: 'https://maps.dewey.be/api/markers/[[ marker.id ]]' };

		  (function() {
		  var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
		  d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
		  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
		  })();
		</script>

        </script>
    </body>
</html>
