{% extends "www/base.html" %}
{% load i18n %}
{% block title %}{% trans "CSV Import - Choose a category" %}{% endblock %}
{% block content %}
    <div class="row">
        <div class="small-12 columns">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.non_field_errors }}

                {% if form.category %}
                    <div class="panel">
                        Avant de charger votre jeu de données, veuillez
                        sélectionner la catégorie principale dans
                        laquelle ces données doivent apparaître.
                    </div>
                    <div class="fieldWrapper">
                        {{ form.category.errors }}
                        <label for="{{ form.category.id_for_label }}">Choose a category:</label>
                        {{ form.category }}
                    </div>
                {% else %}
                    <div class="panel">
                        Veuillez à présent sélectionner une sous-catégorie et
                        charger le jeu de données. Le jeu de données doit
                        obligatoirement avoir les colonnes 'name', 'lat',
                        'lon' et 'address'. Les colonnes 'comment', 'web',
                        'email', 'phone' sont optionnelles.
                    </div>
                    <div class="fieldWrapper">
                        {{ form.sub_category.errors }}
                        <label for="{{ form.sub_category.id_for_label }}">Choose a sub-category:</label>
                        {{ form.sub_category }}
                    </div>

                    <div class="fieldWrapper">
                        {{ form.csv_file.errors }}
                        <label for="{{ form.csv_file.id_for_label }}">Choose the CSV file:</label>
                        {{ form.csv_file }}
                    </div>
                {% endif %}
                <input type="submit" class="button" value="Submit" />
            </form>
        </div>
    </div>
{% endblock%}
