.top-bar .name h1 a{
  font-family: Special Elite;
  font-weight: 500;
  padding-top: 0.1em;
}

.top-bar .name h1 a .fi{
  font-size: 1.5em;
  vertical-align: bottom;
}

#menubar {
  left: 0;
  top: 2.8em;
  bottom: 0;
  position: fixed;
}

#menubar #bottombar {
  bottom: 0;
  position: fixed;
  background-color: #222;
  color: #eee;
  width: 100%;
  margin-left: -1em;
  padding: 0.7em;
  cursor: pointer;
}

#bottombar a {
  color: white;
}

#bottombar a:hover {
  text-decoration: underline;
}

.grey{
    color: grey;
}

.no-margin {
    margin:0px;
}
.no-padding{
    padding: 0px !important;
}

#map {
  right: 0;
  top: 3.7em;
  bottom: 0;
  padding: 10px;
  position: fixed;
}

#addPointModal {
    max-height: 100%;
    overflow: scroll;
}

.subcat {
  font-size: 0.85em;
  color: #333;
  background-color: #ddd;
  margin: 0;
  margin-left: -1em;
  width: 115%;
  padding: 0.7em;
  padding-left: 1em;
  cursor: pointer;
}

.subcat[show=ok] {
  color:#064D67;
}

.subcat:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  padding-right: 0.5em;
  padding-left: 1em;
}

.subcat[show=""]:before {
  content:"\f0c9";
}


.subcat[show=ok]:before {
  content:"\f00c";
  padding-left: 2em;
}

#subcatvav {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.item {
  white-space: nowrap;
  display:inline;
}

.top-drawer {
    background-color:white;
    height:2.75em;
    line-height: 2.75em;
    vertical-align: middle;
    text-align: center;
    background-color: #333;
    color: white;
    font-size: 100%;
}
.blue {
    color:#008CBA !important;
}
.footer {
    text-align:center;
    color: #777777;
    font-style: oblique;
    font-size:small;
}

table.bmde-form {
    margin-top: 1.25rem;
}

.bmde-form input {
    display: inline;
    margin: 0;
}

.bmde-form ul.errorlist {
    background: #fff none repeat scroll 0 0;
    color: #ba2121;
    margin: 0 0 4px;
    padding: 0;
}

.bmde-form  ul.errorlist li:first-child {
    margin-top: 0;
}

.bmde-form ul.errorlist li {
    display: block;
    font-size: 13px;
    margin-bottom: 4px;
}

.bmde-form .helptext {
    color: #999;
    font-size: 11px;
}

.message {
    margin-top: 1.25rem;
}
